/*-- scss:rules --*/
.MathJax {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
   }

.MathJax_Display {
    overflow: clip visible !important;
}

.blog-custom-border {
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0em;
    margin-bottom: 0em;
    border-style: solid;
    border-color: #00008B;
}

.chapter-number::after {
    content: ".";
  }